:root {
  --c-bg: #f7f9fd;
  --c-white: #fff;
  --c-blue4: #5A98D0;
  --c-blue3: #4c86c6;
  --c-blue2: #316099;
  --c-blue1: #1F3F68;
  --c-muted: #7b8aa0;

  // --radius-xl: 20px;
  // --radius-lg: 16px;
  // --radius-md: 12px;

}
