@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Galien";
  src: url("/fonts/Galien-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Базовый стек на случай отсутствия файлов */
body.page { font-family: "Gilroy-Regular", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif; }

@import "modern-normalize/modern-normalize.css";

@import "./variables";
@import "./mixins";

@import "./blocks/visually-hidden";
@import "./blocks/container";
@import "./blocks/button";
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/card";
@import "./blocks/features";
@import "./blocks/clients";
@import "./blocks/cta";
@import "./blocks/footer";
@import "./blocks/modal";

body.page {
  background: var(--c-white);
}
.main{
  position: relative;
}
.logo {
  display: inline-flex;
  width: 48px; height: 48px;
  align-items: center; justify-content: center;
}